$proexeGray: #dcdcdc;
$whiteColor: #ffffff;
$proexeBlue: #1477d5;
$proexeBlueHover: #0e5599;
$proexeYellow: #eeac57;
$proexeYellowHover: #ad7d40;
$proexeRed: #d75452;
$proexeRedHover: #9d3e3c;
$proexeGreen: #5fb760;
$proexeGreenHover: #417e42;
$DarkBackgroundColor: #424242;

:export{
    proexeGray: $proexeGray;
    whiteColor: $whiteColor;
    proexeBlue: $proexeBlue;
    proexeBlueHover: $proexeBlueHover;
    proexeYellow: $proexeYellow;
    proexeYellowHover: $proexeYellowHover;
    proexeRed: $proexeRed;
    proexeRedHover: $proexeRedHover;
    proexeGreen: $proexeGreen;
    proexeGreenHover: $proexeGreenHover;
    DarkBackgroundColor: $DarkBackgroundColor;
}
